logging:
  config: src/main/resources/logback-dev.xml

spring:
  datasource:
    url: "${EN_DATABASE_URL:jdbc:postgresql://localhost:5433/exposure-notification}"
    username: "${EN_DATABASE_USERNAME:devserver}"
    password: "${EN_DATABASE_PASSWORD:devserver-password}"
  flyway:
    clean-on-validation-error: true

covid19:
  diagnosis:
    signature:
      randomize-key: true
  publish-token:
    url: "${EN_PT_URL:http://localhost:8081}"
  federation-gateway:
    client-sha256:
    client-dn: C=FI,CN=koronavilkku.dev,O=koronavilkku dev
