name: Check dependencies

on:
  push:
    branches: '*'
  pull_request:
    branches: 'trunk'
  schedule:
  - cron:  "0 5 * * *" # this is utc time

jobs:
  dependency-scan:
    name: Owasp Dependency Scanning
    runs-on: ubuntu-latest
    container: maven:3.6-openjdk-11
    steps:
      - uses: actions/checkout@v2
      - name: Cache Maven Repository
        uses: actions/cache@v2
        with:
          path: /root/.m2/repository
          key: ${{ runner.os }}-m2-dependency-scan-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-dependency-scan
      - name: OWASP dependency check
        run: mvn package -B -Powasp-dependency-check --file pom.xml -DskipTests
      - uses: actions/upload-artifact@v2
        if: ${{ success() || failure() }}
        with:
          name: dependency-check-result
          path: ./**/target/dependency-check-report.html
      - name: Notify to slack
        if: github.event_name == 'schedule' && ${{ failure() }}
        uses: ./.github/docker-slack
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          text: "OWASP dependency check"
          status: ${{job.status}}
      - name: Notify by email
        if: github.event_name == 'schedule' && ${{ failure() }}
        uses: ./.github/docker-notify-email
        env:
          API_KEY: ${{ secrets.EMAIL_SERVICE_API_KEY }}
          SEND_URL: ${{ secrets.EMAIL_SERVICE_SEND_URL }}
          RECIPIENTS: ${{ secrets.EMAIL_SERVICE_RECIPIENTS }}
          FROM: ${{ secrets.EMAIL_SERVICE_SENDER }}
        with:
          status: ${{job.status}}
