name: Check dependencies

on:
  schedule:
    - cron:  "20 11 * * *" # this is utc time

jobs:
  release-dependency-scan:
    name: Owasp Release Dependency Scanning
    runs-on: ubuntu-latest
    container: maven:3.6-openjdk-11
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: Checkout latest release
        run: |
          git fetch --all --tags --prune
          git checkout tags/$(git tag | sed '/-/d' | sort -t "." -k1,1n -k2,2n -k3,3n | tail -1) -b latest_release
      - name: Cache Maven Repository
        uses: actions/cache@v2
        with:
          path: /root/.m2/repository
          key: ${{ runner.os }}-m2-release-dependency-scan-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-release-dependency-scan
      - name: OWASP dependency check
        run: mvn package -B -Powasp-dependency-check --file pom.xml
      - uses: actions/upload-artifact@v2
        if: ${{ success() || failure() }}
        with:
          name: dependency-check-result
          path: ./**/target/dependency-check-report.html
      - name: Notify to slack
        if: ${{ failure() }}
        uses: ./.github/docker-slack
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          text: "OWASP dependency check"
          status: ${{job.status}}
      - name: Notify by email
        if: ${{ failure() }}
        uses: ./.github/docker-notify-email
        env:
          API_KEY: ${{ secrets.EMAIL_SERVICE_API_KEY }}
          SEND_URL: ${{ secrets.EMAIL_SERVICE_SEND_URL }}
          RECIPIENTS: ${{ secrets.EMAIL_SERVICE_RECIPIENTS }}
          FROM: ${{ secrets.EMAIL_SERVICE_SENDER }}
        with:
          status: ${{job.status}}
